<div class="contain">
    <div  id="heading">
        <h1 style="color: #b06e57; font-weight: bold;">Welcome Vertos!</h1>
        <h4>We help you to find a help</h4>
        <p>Select the way you want to select a faculty for you doubt clarification.</p>
    </div>
    
    <div id="controls">
        <div>
            <a href="/byTeacher"><button class="search">Search by Teacher</button></a>
        </div>
        <div>
            <a href="/bySubject"><button class="search">Search by Subject</button></a>
        </div>
    </div>
</div>
